#barGraph, #p-barVideos, #p-barSengment, #viewSegment{
  width: 100%;
  padding-bottom: 150px;
  display:block;
}

#canvasList {
  width:80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graph {
  width:50%;
}
/*
#graph_class_2{
  width : 45.5%;
}
#graph_class_7 {
  width: 54.5%
}
*/
#plotHolder{
  position: relative;
  height:300px;
  width:600px;
}
.plotBackGround {
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  opacity:0.1;
  margin-top:5%
}
#plotBackGround_1 {
  margin-left:50%;
  background:green;
}
#plotBackGround_0 {
  background:red;
}
#scatter0 {
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  width:600px;
  height:200px;
}

#p-barVideos, #p-barSengment, #compSegment, #plotSegment{
  overflow: auto;

}

#uploadTable {
  width: 50%;
}
#uploadTable td:first-child {
  width: 15%;
}
#uploadButton {
  float: right;
}

#scoreboard {
  width: 100%;
}

#scoreboard tbody, #scoreboard tr,
#mosei-table tbody, #mosei-table tr, #mosi-table tbody, #mosi-table tr{
  margin: 0;
  padding: 0;
  width: 100%;
}

.scoreboard-left, .scoreboard-right {
  width: 50%;
  text-align: center;
  vertical-align: top;
}

#mosei-table, #mosi-table {
  width: 90%;
  margin: 0 auto;
}

#mosei-table table, #mosi-table table {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
}

#mosei-table table tr td, #mosi-table table tr td {
  width: 10%;
  border: 1px solid #000000;
}

#mosei-table table tr td:first-child, #mosi-table table tr td:first-child {
  width: 50% !important;
}
