#barGraph, #p-barVideos, #p-barSengment, #viewSegment {
  width: 100%;
  padding-bottom: 40px;
  display:block;
}

#canvasList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvasHolder {
  width:100%;
  height:100%;
}
/*
#graph_class_2{
  width : 45.5%;
}
#graph_class_7 {
  width: 54.5%
}
*/
#plotHolder{
  height:350px;
  width:700px;
}
.plotBackGround {
  z-index: 1;
  position: absolute;
  top:0;
  left:0;
  width:50%;
  height:100%;
  opacity:0.1;
  margin-top:5%
}
#plotBackGround_1 {
  margin-left:50%;
  background:green;
}
#plotBackGround_0 {
  background:red;
}
#p-barVideos, #p-barSengment, #compSegment, #plotSegment{
  overflow: auto;

}


#upload-description {
  width: 50%;
  vertical-align: top;
  padding-top: 30px;
  display: inline-block;
  white-space: normal;
}
#upload-description img {
  width: 96%;
  margin-right: 4%;
}

#upload-table-wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 4px dashed #e0e0e0;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}
#upload-table {
  width: 50%;
  padding: 4%;
  padding-left: 2%;
  white-space: normal;
  display: inline-block;
}
#upload-table td:first-child {
  width: 18%;
}
#uploadButton {
  float: right;
}

#scoreboard {
  width: 100%;
}

#scoreboard tbody, #scoreboard tr,
#mosei-table tbody, #mosei-table tr, #mosi-table tbody, #mosi-table tr{
  margin: 0;
  padding: 0;
  width: 100%;
}

.scoreboard-left, .scoreboard-right {
  width: 50%;
  text-align: center;
  vertical-align: top;
  font-size: 16pt;
  font-weight: 600;
}

#mosei-table, #mosi-table {
  width: 90%;
  margin: 0 auto;
  font-size: 12pt;
}

#mosei-table tr:first-child, #mosi-table tr:first-child {
  font-weight: 800;
  font-size: 12pt;
}

#mosei-table table, #mosi-table table {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
}

#mosei-table table tr td, #mosi-table table tr td {
  min-width: 76px;
  border: 1px solid #000000;
  padding-top: 4px;
  padding-bottom: 4px;
}

#mosei-table table tr td:first-child, #mosi-table table tr td:first-child {
  width: 40% !important;
  padding-top: 4px;
  padding-bottom: 4px;
}
