.box, .resultBox{
  width: 90%;
  margin: 0 auto;
}

.box {
  margin-top: 24px;
}
#clipSelectBox {
  margin-top: 48px;
}

#selectTitle, #clipSelectTitle {
  margin-bottom: 10px;
}

.resultTitle {
  margin-top: 48px;
  margin-bottom: 12px;
}

video {
  max-width: 100%;
}